<%- include("header") %>
<main id="main-site">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/">All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New User</h2>
      <span class="text-dark"
        >Add a new user by entering the details below.</span
      >
    </div>
    <%- include("form") %>
  </div>
</main>
<%- include("footer") %>
